.modalLoading {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    padding: 3rem;
}

.modalLoading .title {
    font-size: 1.5rem;
}

.modalLoading .description {
    text-align: center;
}