.Register {
    width: 100%;
    height: 100vh;
    display: flex;
}

.Register > div {
    flex: 1 1 50%;
}

.Register > :nth-child(1) {
    min-width: 400px;
    overflow: auto;
}

.Register > :nth-child(2) {
    flex-basis: 40%;
    max-width: 550px;
}

.Register__form_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: relative;
}

.Register__header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.Register__header a {
    color: #266fb6;
}

.Register__form {
    width: 100%;
    max-width: 680px;
    padding: 0 clamp(20px, 10%, 100px);
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.Register__form .error-field {
    color: #cc0f35;
}

@media screen and (max-width: 700px) {
    .Register > :nth-child(2) {
        display: none;
    }
}
