.NewCostumer__img {
    width: 40px;
    height: 40px;
}

.NewCostumer__h1 {
    padding-left: 300px;
}

.NewCostumer__h3 {
    padding-left: 270px;
}

.rebote {
    animation: 3s ease-in-out 0.66s infinite normal none running rebote
}

.NewCostumer__tr{
    padding-top: 20px;
    padding-left: 30px;
}