.Support__pag {
    display: flex;
    justify-content: center;

}

.Trade__image {
    display: flex;
    position: fixed;
    align-items: center;
}

.Support__img_waiting {
    position: fixed;
    display: flex;
    width: auto;
    height: 300px;
    top: 29%;
    left: 27%;
}

.Support__form {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 30px;

    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 25% 1fr 15%;
    grid-template-areas:
        ". header"
        "photo inputs"
        ". submit";
    place-items: center;
    column-gap: 30px;
}

.Support__header {
    grid-area: header;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #3977b5;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Support__text {
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Support__inputs {
    grid-area: inputs;
    align-self: start;
    width: 100%;
}

.Support__inputs__wrapper {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.Support__first_column_wrapper {
    display: flex;
    flex-flow: column;
    padding: 8px;

    gap: 2rem;

    position: relative;
}

.Support__first_column_wrapper_size {
    font-size: 10px;
    font-weight: 200;
}

.Support__submit-button {
    grid-area: submit;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Support__submit-button button {
    width: 100%;
    max-width: 220px;
}

.Support__image {
    display: flex;
    /* position: fixed; */
    align-items: center;
}

.Support__img_coin {
    /* position: fixed;
    display: flex;
    width: auto;
    height: 300px;
    top: 20%;
    left: 50%; */
    position: absolute;
    display: flex;
    width: 138%;
    top: 9%;
    left: -166%;
    opacity: 0.3;
    max-width: 1000%;
}