.input-with-label{
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.input-with-label input,
.input-with-label select {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.1rem;
    background: #eeeeee;
    border: none;
    border-radius: 8px;
}