.Settings__pag {
    display: flex;
    justify-content: center;

}

.Settings__form {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 30px;

    display: grid;
    grid-template-columns: 0.3fr 1fr;
    /* grid-template-rows: 25% 1fr 15%; */
    grid-template-rows: minmax(100px,25%) 1fr minmax(100px, 15%);
    grid-template-areas:
        ". header"
        "photo inputs"
        ". submit";
    place-items: center;
    column-gap: 30px;
}

/* ====== Header ====== */
.Settings__header {
    grid-area: header;
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
/**/

/* ====== Photo ====== */
.Settings__photo {
    grid-area: photo;
    align-self: start;
    justify-self: end;
}
/**/

/* ====== inputs ====== */
.Settings__inputs {
    grid-area: inputs;
    align-self: start;
    width: 100%;
}

.Settings__inputs__wrapper {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.Select,
.Select > option {
    text-transform: capitalize;
}
/**/

/* ====== Submit ====== */
.Settings__submit-button {
    grid-area: submit;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
/**/

/* ====== Back button ====== */
.Settings__back {
    position: absolute;
    top: 17px;
    left: 35px;
    font-size: 1.4rem;
}

.Settings__back > button {
    all: unset;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.Settings__back:hover {
    cursor: pointer;
}
/**/

/* ====== user account options ====== */
.deleteAccountBtn {
    background-color: rgb(250, 119, 119);
    max-width: unset;
    width: fit-content;
}

.deleteAccountBtn:hover {
    background-color: rgb(248, 74, 74);
}

.deleteAccountModalBtn {
    all: unset;
    font-size: 0.8rem;
    color: rgb(161, 0, 0);
}

.deleteAccountModalBtn:hover {
    cursor: pointer;
}
/**/