.FinishRegister {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.FinishRegister__form {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 0 30px;

    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.1fr;
    grid-template-areas: 
        ". header"
        "photo inputs"
        ". submit";
    place-items: center;
    column-gap: 30px;
}


/* ====== Header ====== */
.FinishRegister__header {
    grid-area: header;
    text-align: center;
}
/**/

/* ====== Photo ====== */
.FinishRegister__photo {
    grid-area: photo;
    align-self: start;
    justify-self: end;
}
/**/

/* ====== inputs ====== */
.FinishRegister__inputs {
    grid-area: inputs;
    align-self: start;
    width: 100%;
}

.FinishRegister__inputs__wrapper {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
/**/

/* ====== Submit ====== */
.FinishRegister__submit-button {
    grid-area: submit;
    width: 100%;
    margin-top: 40px;
    display: grid;
    place-items: center
}

.FinishRegister__submit-button button {
    width: 100%;
    max-width: 220px;
}
/**/